/*---------------------HTML--------------------*/

html {
    box-sizing: border-box;
    font-family: 'Raleway';
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }

/*------------------Couleurs------------------*/

.bleu{
    color: #0065FC;
}
.gris{
    color: #F2F2F2;
}
.txt-center{
    text-align: center;
}

/*------------------HEADER------------------*/

header{
    display: flex;
    flex-direction: column;
    padding: 0 2.5%;
}
/*-------------------Nav-------------------*/

.logo img{
    width: 100px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    padding: 3% 2px;

}
nav ul li:nth-child(1){
    flex: 70%;
    padding: 0;
    align-self: center;
}
nav ul li:nth-child(2){
    flex:10%;
    order: 2
}
nav ul li:nth-child(3){
    flex:10%;
    order: 3;
}
nav ul li:nth-child(3){
    border-top: 3px solid rgba(255, 0, 0, .0)
}
nav ul li:nth-child(2), nav ul li:nth-child(3):hover{
    border-top: solid 3px #0065FC;
}

.active a{
    color: #0065FC;
}
nav ul li a{
    color: black;
}
nav ul li a:hover{
    color: #0065FC;
}

header h1{
    margin-bottom: 10px;
    font-size: 20px;
}

header span{
    font-weight: 200;
}

/*------------------Search------------------*/

.search{
    display: flex;
    font-size: 20px;
    padding: 30px 0;
    }  

  .search label{
    background: #F2F2F2;
    text-align: center;
    padding: 12px 20px;
    border-radius: 25% 0 0 25%;
  }
  
  .search input {
    font-weight: 700;
    border: solid 1px #F2F2F2;
    padding: 0px 10px 0;
    font-size: 80%;
  }
  
  .search button{
    color: #FFF;
    background-color: #0065FC;
    border: none;
    padding: 10px;
    font-size: 80%;
  }

.search button{
    border-radius: 0 16px 16px 0;
}


/*------------------Filtres------------------*/

.filtres {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

.filtres h2{
    font-size: 20px;
  }

  .filtres button {
    border: solid 2px #d9d9d9;
    border-radius: 32px;
    font-size: 100%;
    font-family: 'Raleway';
    font-weight: bold;
    background: white;
    position: relative;
    padding: 13px 15px 10px 50px;
  }
  .filtres button:hover{
    opacity: .8;
}

  .filtres p{
      font-size: 18px;
  }
  .filtres i {
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 14.5px;
    border-radius: 25px;
    position: absolute;
    left: -3px;
    top: -2px;
    width: 45px;
  }

/*------------------Info------------------*/

  .info i {
    border: solid 2px #F2F2F2;
    border-radius: 100%;
    font-size: 60%;
    color: #0065FC;
    padding: 0 0 0 24px;
    position: relative;
  
  }
  .fa-info:before {
    content: "\f129";
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .info{
    display: flex;
    font-size: 20px;
    padding: 30px 0;
  }
  .info p{
    font-weight: 100;
    font-size: 15px;
    padding: 10px 15px 0;
}
/*-----------------------main----------------------*/

main{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*-----------------------Hebergement----------------------*/
.encart button span:nth-child(2) {
    padding: 5% 5% 0%;
    display: flex;
    flex-direction: column;
}
.encart button span:nth-child(2).starz{
    display: flex;
    flex-direction: row;
    padding: 10px 0 0;
    gap: 2px;
}

.encart{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: row;

}
.encart button{
    background: white;
    border: solid 1px #FFF;
    display: flex;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 5.5px 7.1px 21px -6px;
    height: fit-content;
    border-radius: 20px;
    width: 100%;

}
.encart button:hover{
    opacity: .9;
    box-shadow: rgba(0, 0, 0, 0.5) 5.5px 7.1px 21px -6px;

}

.encart button img{
    object-fit: cover;
    height: 110px;
}

.hebergement{
    background-color: #F2F2F2;
    gap: 30px 4%;
    border-radius: 20px;
    width: 67%;
    justify-content: center;
}

.populaires{
    width: 30%;
    background-color: #F2F2F2;
}

.populaires button img{
    border-radius: 15px 0 0 15px;
    width: 40%;
    height: 145px;
}

.hebergement button img{
    border-radius: 15px 15px 0 0;
    width: 100%;
}
.hebergement button{
    flex-direction: column;
    width: 30%;
}

.activites h2{
    flex: 100%;
    padding: 5% 0 2%;
}

.hebergement h2{
    flex: 100%;
    padding: 2% 0 0 2%;
}

.populaires h2{
    width: 92%;
    padding: 5% 1% 8%;
    flex: 70%;
}
.m_btm {
    margin-bottom: 10%;
}

.populaires i{
    font-size: 25px;
    align-self: center;
    margin-top: -7px;
}
.populaires button span i{ 
    font-size: 90%;
}

.encart_description {
    display: flex;
    flex-direction: column;
    height: 145px;
    gap: 30%;
}
.hebergement a{
    flex: 100%;
    color: black;
    font-weight: bold;
    padding: 2%;

}
.encart b{
    font-weight: 600;
}

.encart span{
    text-align: left;
    font-size: 95%;
}
.activites button span:nth-child(2) {
    padding: 5%;
}
.activites{
    width: 100%;
    background: none;
    padding: 0;
    justify-content: space-between;
}

.activites button{
    border: none;
    padding: 0;
    width: 22vw;
    flex-direction: column;   
}

.activites button img{
    border-radius: 15px 15px 0 0;
    width: 100%;

}
.activites .VieuxPort img{
    height: 396px;
}
.activites .FortPomegues img{
    height: 187px;
}
.activites .IlesduFrioul img{
    height: 115.5px;
}
.activites .ParcNationaldesCalanques img{
    height: 396px;
}
.activites .Notre-Damme-de-la-Garde img{
    height: 146px;
}
.activites .ParcLongchamp img{
    height: 159px;
}

.activites div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*-----------------------Footer----------------------*/


footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 25%;
    line-height: 2em;
    align-content: flex-start;
    padding: 2em;
  }
  
  footer ul li{
    list-style: none;
  }
  
  footer a {
    color: black;
    font-weight: 300;
    font-size: 1em;
    line-height: 2;
  
  }
  footer h1,h2,h3 {
    font-size: 1.3em;
    padding: 0 0 1em;
  }
  
  /*------------------Media Queries------------------*/


/*-----------------------Mobile----------------------*/


@media(max-width:767px){
    header{
        padding: 0;
    }
    nav{
        margin: 0 0 20px 0;
    }
    nav ul li:nth-child(1){
        flex: 100%;
        text-align: center;
        padding: 20px 0 30px 0;
        
    }
    nav ul li:nth-child(2){
        flex:50%;
    }
    nav ul li:nth-child(3){
        flex:50%;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
    }

    nav ul li:nth-child(2), nav ul li:nth-child(3):hover{
    border-bottom: solid 3px #0065FC;
    border-top: none;
    }
    header h1{
    font-size: 22px;
    }
    header h1, header span,header form{
        padding: 0 20px 10px;
    }
    .search {
        justify-content: space-around;
        gap: 0;
        padding: 30px 10% 0 5%;
    }
    .search input{
    width: 100%;
    }
    .search button{
        border-radius: 25%;
        margin: 0 -10px;
        width: 50px;
    }

    .filtres {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 5%;
    }

    .filtres h2 {
        width: 100%;
    }
    .info {
        padding: 0 0 0 5%;
        align-items: center;
    }
    .info i {
        padding: 12px;
        font-size: 45%;

    }
    .info p {
        padding: 30px;
    }

    .fa-info:before {
        left: 45%;
        top: 25%;
    }
    main{
        flex-direction: column;
        padding: 0;
    }
    .hebergement{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        order: 2;
    }
    .populaires {
        width: 100%;
        order: 1;
        border-radius: 0;

    }
    .encart button{
        width: 100%;
    }

    .populaires button{
        margin: 10px;
    }
    .activites{
        flex-direction: row;
        order: 3;
        gap: 25px;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
    }
    .activites div{
        width: 100%;
        gap: 25px;
    }
    .activites .VieuxPort img,.activites .FortPomegues img,.activites .IlesduFrioul img,.activites .ParcNationaldesCalanques img,.activites .Notre-Damme-de-la-Garde img,.activites .ParcLongchamp img{
        height: 159px;
        padding: 2%;
    }
    footer{
        flex-direction: column;
    }
}
/*-----------------------Tablette----------------------*/

@media(min-width:768px){

    .info i {
        padding: 1.4%;
    }
    .fa-search::before {
        content: 'Recherche'!important;
        font-family: 'Raleway';
    }
}

/*-----------------------Desktop----------------------*/


@media(max-width:992px){

main{
flex-direction: column;
gap: 20px;
  }
  .hebergement{
      width: 100%;
  }
  .populaires{
      width: 100%;
      padding: 3%;
      font-size: 20px;
  }
  .m_btm{
    margin-bottom: 15px;
}

.populaires span {
    line-height: 30px;
}
.encart_description{
    gap: 2px;
}

.populaires button span:nth-child(2) {
    padding: 2% 3% 0%;
    display: flex;
    flex-direction: column;
}

}


/*-----------------------Desktop----------------------*/


@media(min-width:992px){

      .info i {
        padding: 0 0 0 24px;
    }
}





  
  
  
